* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #ededed;
  /* overflow-y: hidden; */
}
::-webkit-scrollbar{
  background: #ededed;
  width: 0;
}
::-webkit-scrollbar-thumb{
  background: #14ffec;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header a:is(:link, :active, :visited).active {
  color: #14ffec;
  background-color: transparent;
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
.logo::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
  background: rgb(30, 30, 30);
}
.navbar a {
  font-size: 18px;
  color: #ededed;
  margin-left: 35px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.4s;
}
.navbar a:hover,
.navbar a.active {
  color: #14ffec;
}

.home-content .btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  position: relative;
}
.home-content .btn-box::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(30, 30, 30);
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.8s;
  z-index: 2;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  background-color: #14ffec;
  border: 2px solid #14ffec;
  border-radius: 8px;
  font-size: 19px;
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.btn-box a:nth-child(1) {
  background-color: transparent;
  color: #14ffec;
}
.btn-box a:nth-child(1)::before {
  background-color: #14ffec;
}
.btn-box a:nth-child(1):hover {
  color: rgb(30, 30, 30);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(30, 30, 30);
  z-index: -1;
  transition: 0.3s;
}
.btn-box a:hover::before {
  width: 100%;
}

/* PAGE NUMBER 1 */

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 0 10%;
  background-color: rgb(30, 30, 30);
}
.home-content {
  max-width: 600px;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
}
.home-content h1::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 0.8s;
  background: rgb(30, 30, 30);
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #14ffec;
  position: relative;
}
.home-content h3::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
  background: rgb(30, 30, 30);
}
.home-content p {
  font-size: 18px;
  margin: 20px 0px 40px;
  position: relative;
}
.home-content p::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(30, 30, 30);
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-sci {
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  bottom: 40px;
  width: 170px;
  background-color: transparent;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 2px solid #14ffec;
  border-radius: 50%;
  font-size: 20px;
  color: #14ffec;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.home-sci::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(30, 30, 30);
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a:hover {
  color: rgb(30, 30, 30);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #14ffec;
  z-index: -1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.home-sci a:hover::before {
  width: 100%;
}

/* PAGE NUMBER 2 */

.home2 {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 0 10%;

  background: url(fast-image-new.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.home2 .home-content h1 {
  margin: 30px 0px 10px 0px;
}

/* PAGE NUMBER 3 */

.home3 {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 10% 10%;
  background: url(programming1.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.home3 .home-content h1 {
  margin: 30px 0px 30px;
}
.home3 .home-content p {
  font-size: 18px;
}

/* PAGE NUMBER 4 */

.home4 {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 10% 10%;
  background: url(stack.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.home4 .home-content h3{
  font-size: 24px;
  margin-top: 10px;
}

.home-content .btn-box-top {
  align-items: center;
  width: 200px;
  height: 50px;
  position: relative;
  margin-top: 30px;
}
.btn-box-top a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: #14ffec;
  border: 2px solid #14ffec;
  border-radius: 8px;
  font-size: 19px;
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.btn-box-top a:nth-child(1) {
  background-color: transparent;
  color: #14ffec;
}
.btn-box-top a:nth-child(1)::before {
  background-color: #14ffec;
}
.btn-box-top a:nth-child(1):hover {
  color: rgb(30, 30, 30);
}

.btn-box-top a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(30, 30, 30);
  z-index: -1;
  transition: 0.3s;
}
.btn-box-top a:hover::before {
  width: 100%;
}

/* PAGE LOADING ANIMATION */

.loader-wrapper {
  width: 50%;
  height: 50%;
  /* width: 640px;
  height: 300px; */
  position: absolute;
  top: 25%;
  left: 50%;

  background-color: rgb(30, 30, 30);
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  border: 4px solid #14ffec;
  animation: loader 3s infinite ease;
  -webkit-animation: loader 3s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #14ffec;
  animation: loader-inner 3s infinite ease-in;
  -webkit-animation: loader-inner 3s infinite ease-in;
}
/* KEYFRAMES ANIMATION  */
@keyframes showRight {
  100% {
    width: 0;
  }
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}


